html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, button, .content, .footer, .show, .season, .episode, .menu, .menu>a, .genre-list {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.genre-list{
    display: none;
}

.menu-toggle{
    display: none;
}

.menu-icon{
    border: solid 2px;
    padding: 2px;
    background: darkslateblue;
    color: white;
}

.menu-toggle:checked ~ .genre-list{
    display: flex;
    flex-direction: column;
}

.header{
    max-height: 10%;
}

.header h1{
    text-align: center;
    max-height: 10%;
    font-size: large;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.overview{
    display: none;
}

.show{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.poster{
    flex-shrink: 1;
    display: flex;
}

.poster *{
    max-width: 100%;
}

.info>.name{
    margin: 0;

}

.info{
    height: fit-content;
}

.footer *{
    margin: 0;
}

